# Python
__pycache__/
*.pyc
venv/
.env
*.env
!.env.example

# OS
.DS_Store

# Local files
enviar_anexos_producao.py
xml pacientes/backups_aws/*.7z
backups_aws/*.zip
backups_aws/
imagens s3/
laudos s3/
erros_download.txt

# CSV com dados sensíveis
requisicaoimagem_filtrada_final.csv
